.functionWrapper {
  width: 80%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-top: 2vh;
  background-color: aquamarine;
  margin-bottom: 5vh;
}

#AppWrapper {
  padding-left: 5vw;
  padding-top: 5vh;
}

.h2Wrap {
  display: flex;
  flex-direction: row;
}
#cardWrapperWrap {
  display: flex;
  flex-direction: row;
}
#cardImg {
}
#CardInfo {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
}
